body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
form {
    text-align: center;
}

input[type=file] {
    padding: 10px;
    border-radius: 5px;
    background-color: #7e588c;
    color: #fff;
    font-size: 16px;
    border: none;
}

input[type=file]:focus {
    border-color: #aaa;
    box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
    box-shadow: 0 0 0 3px -moz-mac-focusring;
    color: #222;
    outline: none;
}
.file-upload input[type="file"] {
    display: none;
}


input[type=submit] {
    background-color: #588c7e;
    width: 100%;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.error-message {
    color: red;
    font-weight: bold;
}