table {
    border-collapse: collapse;
    border-color: white;
    width: 100%;
    font-family: monospace;
    font-size: 25px;
    text-align: left;
}
th {
    text-align: center;
    border-radius: 5px;
    background-color: #7e588c;
    color: white;
}
td {
    text-align: center;
    background-color: #f2f2f2;
    color: black;
}

.custom-button {
    width: 10%;
    display: inline-block;
    padding: 10px;
    background-color: #588c7e;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    display: block;
    margin: 0 auto;
}