<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

<form method="post" enctype="multipart/form-data">
    <p><input type="file" name="file" class="form-control"></p>
    <p><input type="submit" value="Upload"></p>
    <div id="response" class="error-message"></div>
</form>

<script src="{{ url_for('static', filename='js/main.js') }}"></script>
